.App {
  text-align: center;;
}

.soundbox{
  text-align: center;
  /* position: absolute; */
  /* top: 50%; */
  padding: 10%;
  /* -ms-transform: translateY(-50%), translateX(-50%);
  transform: translateY(-50%), translateX(-50%); */
}

.Header {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #fff9ef;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.centerColumn{
  padding-left: 12%;
  padding-right: 12%;
  padding-top: 5%;
  padding-bottom: 5%;
  font-family: Helvetica, sans-serif;
}

.centerColumn.header-div#title{
  font-size: 60;
}
